{{outlet}}

<div class="row">
  <div class="col-md-8">
    <h2 class="page-header">Boards</h2>
    <table class="table table-striped">
      <tbody>
        {{#each model.boards as |board|}}
        <tr>
          <td>{{#link-to 'boards.show' board.id}}{{board.name}}{{/link-to}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h2 class="page-header">{{model.name}}</h2>
    <p>
      {{model.description}}
    </p>
  </div>
</div>
